---
import { EXPERIENCES } from '../constants'
---

<section id="experience">
	{EXPERIENCES.map(job => (
		<div class="mt-8 md:mt-12 md:grid grid-cols-5 gap-0">
		<div class="col-span-0"/>
			<div class="animate col-span-5 pb-5 pl-0">
				<h2 class="mb-1">{job.company}</h2>
				<p class="mt-0 mb-2">{job.from} - {job.to} <span class="muted">|</span> {job.location}</p>
				<p class="mt-0">{job.description}
				<p />
			</div>
			{job.positions.map((position, index) => (
				<>
					<div class="text-md col-span-1 pr-8 md:text-right">
						<p class="animate my-[3px] text-black/60 dark:text-white/60">{position.duration}</p>
					</div>
					<div class="animate col-span-4 border-l border-black/10 dark:border-white/10 pl-4 md:pl-8">
						<div class="relative top-[-6px]">
							<div
								class="hidden md:block absolute left-[-44px] top-1 bg-stone-200 dark:bg-dark-7 p-1 pb-2 text-lg font-semibold">
								<p class="m-0 text-black/50 dark:text-white/50">-></p>
							</div>
							<h3 class="m-0">{position.title}</h3>
							<p class="mt-0 mb-2">{
								position.technologies.map((tech, index) => (
									<>
										{tech}
										{index !== position.technologies.length - 1 && <span class="muted">|</span>}
									</>
								))
							}</p>
							<p
								class={`mt-0 ${index !== job.positions.length - 1 ? '!mb-8' : '!mb-1'}`}>{position.description}</p>
						</div>
					</div>
				</>
			))}
		</div>
	))}
</section>