---
import { Image } from 'astro:assets'
import Link from './Link.astro'
import { PROJECTS } from '../constants'
---

<section id="projects">
	<div class="animate mt-8 grid grid-cols-6 gap-5 md:mt-12 md:gap-8 md:px-8">
		{
			PROJECTS.map((project) => {
				const COL_SPAN = {
					small: 'col-span-6 md:col-span-2',
					large: 'col-span-6 md:col-span-3'
				}

				if (project.size === 'small') {
					return (
						<div
							class={`${COL_SPAN[project.size]} border border-black/10 p-3 dark:border-white/10`}
						>
							<Link href={project.url} external>
								<h3 class="m-0">{project.title}</h3>
							</Link>
							<p>
								{project.technologies.map((tech, index) => (
									<>
										{tech}
										{index !== project.technologies.length - 1 && <span class="muted"> | </span>}
									</>
								))}
							</p>
							<p class="mb-0">{project.description}</p>
						</div>
					)
				}
				if (project.size === 'large') {
					return (
						<div class={`${COL_SPAN[project.size]} border border-black/10 dark:border-white/10`}>
							<div class="border-b border-black/10 object-cover dark:border-white/10">
								<Image
									width={project.image.width}
									height={project.image.height}
									loading={project.image.loading}
									src={project.image.src}
									alt={project.image.alt}
									class="w-auto"
								/>
							</div>
							<div class="p-3">
								<Link href={project.url} external>
									<h2 class="m-0">{project.title}</h2>
								</Link>
								<p>
									{project.technologies.map((tech, index) => (
										<>
											{tech}
											{index !== project.technologies.length - 1 && <span class="muted"> | </span>}
										</>
									))}
								</p>
								{project.technologiesTwo?.length && (
									<p>
										{project.technologiesTwo.map((tech, index) => (
											<>
												{tech}
												{index !== !project.technologiesTwo.length - 1 && (
													<span class="muted"> | </span>
												)}
											</>
										))}
									</p>
								)}
								<p class="mb-0">{project.description}</p>
							</div>
						</div>
					)
				}
			})
		}
	</div>
</section>
